.card{
    border: 2px solid;
    padding: 25px 60px;
    border-radius: 10px;
    background: antiquewhite;
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 20px;
}

.iteneraryDetails {
    font-weight: bold;
}